textarea {
  border-color: black;
  border-style: solid;
  border-width: thin;
  padding: 3px;
  min-height: 100px;
  min-width: 350px;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}
/* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
* html .ui-autocomplete {
  height: 100px;
}

.ui-autocomplete-loading { 
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; 
}

#patient_diag { 
  width: 31em; 
}
